In [ ]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
pd_enceinte=pd.read_csv("/content/drive/MyDrive/HETIC/AI_strategy_bose/finaldf_g.csv",delimiter=',')
pd_enceinte.drop(["Unnamed: 0"],axis=1,inplace=True)

# FEATURES:

In [ ]:
pd_enceinte["COST"]=round(pd_enceinte["COST"],0)

In [ ]:
# Variable cible to 0/1
pd_enceinte["BLUETOOTH"] = pd_enceinte["BLUETOOTH"].apply(lambda x: 0 if x == "faux" else 1 )
pd_enceinte["WATERPROOF"] = pd_enceinte["WATERPROOF"].apply(lambda x: 0 if x == False else 1 )

In [ ]:
pd_enceinte["PUISSANCE_WATT"]=pd_enceinte["PUISSANCE_WATT"].replace("Watts","",regex=True)

In [ ]:
pd_enceinte["PUISSANCE_WATT"]=pd_enceinte["PUISSANCE_WATT"].astype(int)

In [ ]:
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace(" or rose","or rose",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace(" or beige","or beige",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("or rose","or",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("or chromé","or",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("or doré","or",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("or bleu","or",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("or beige","or",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("or noir","or",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("argent bleu","argent",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("argent rouge","argent",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("argent noir","argent",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("vert clair","vert",regex=True)
pd_enceinte["COULEUR"]=pd_enceinte["COULEUR"].replace("bleu marine","bleu",regex=True)

In [ ]:
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("allemagne","europe",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("roumanie","europe",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("france","europe",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("italie","europe",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("philippine","asie",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("malaisie","asie",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("indonésie","asie",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("chine","asie",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("japon","asie",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("turquie","asie",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("soudan","afrique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("congo","afrique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("benin","afrique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("afrique du sud","afrique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("gabon","afrique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("togo","afrique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("colombie","amérique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("chili","amérique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("argentine","amérique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("brésil","amérique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("usa","amérique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("mexique","amérique",regex=True)
pd_enceinte["PAYS"]=pd_enceinte["PAYS"].replace("salvador","amérique",regex=True)

In [ ]:
pd_enceinte["PAYS"].value_counts()

asie        28299
afrique     24304
amérique    24118
europe      20128
Name: PAYS, dtype: int64

In [ ]:
pd_enceinte.drop("LONGUEUR (inch)",axis=1,inplace=True)

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(pd_enceinte.FOURNISSEUR)
pd_enceinte.FOURNISSEUR=le.transform(pd_enceinte.FOURNISSEUR)

In [ ]:

pd_enceinte = pd.concat([pd_enceinte,pd.get_dummies(pd_enceinte["PAYS"])], axis=1)
pd_enceinte = pd.concat([pd_enceinte,pd.get_dummies(pd_enceinte["RESPONSABLE_ACHAT"])], axis=1)
#pd_enceinte = pd.concat([pd_enceinte,pd.get_dummies(pd_enceinte["FOURNISSEUR"])], axis=1)
pd_enceinte = pd.concat([pd_enceinte,pd.get_dummies(pd_enceinte["COULEUR"])], axis=1)
pd_enceinte = pd.concat([pd_enceinte,pd.get_dummies(pd_enceinte["MANAGER"])], axis=1)

In [ ]:
pd_enceinte.drop("PAYS",axis=1,inplace=True)
pd_enceinte.drop("RESPONSABLE_ACHAT",axis=1,inplace=True)
#pd_enceinte.drop("FOURNISSEUR",axis=1,inplace=True)
pd_enceinte.drop("COULEUR",axis=1,inplace=True)
pd_enceinte.drop("MANAGER",axis=1,inplace=True)

In [ ]:
pd_enceinte

,PUISSANCE_WATT,BLUETOOTH,PUISSANCE_DB,LONGUEUR,FOURNISSEUR,VOLUME,COST,WATERPROOF,DATE,afrique,...,bleu,cyan,magenta,noir,or,orange,rouge,vert,Cédric Grivet,Pierre L'Hostis
0,33,1,95,60,8,42135.0,5070.0,1,2018,0,...,1,0,0,0,0,0,0,0,0,1
1,96,0,95,40,22,38758.0,4651.0,0,2018,0,...,0,0,0,0,1,0,0,0,0,1
2,187,1,90,40,13,75739.0,13352.0,1,2021,0,...,0,0,0,0,1,0,0,0,0,1
3,68,1,90,70,21,71264.0,11719.0,1,2020,1,...,0,0,0,0,1,0,0,0,1,0
4,86,1,100,40,13,87145.0,13194.0,0,2021,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96844,151,1,95,30,8,66571.0,10074.0,0,2021,0,...,0,0,0,0,0,0,0,0,0,1
96845,103,0,90,10,7,60791.0,4831.0,1,2018,0,...,0,0,0,1,0,0,0,0,1,0
96846,171,1,90,70,9,65064.0,10986.0,0,2018,0,...,0,0,0,0,0,0,0,0,0,1
96847,150,0,90,60,28,78450.0,11311.0,0,2021,0,...,1,0,0,0,0,0,0,0,0,1
96848,145,0,90,70,8,98039.0,12612.0,1,2018,1,...,1,0,0,0,0,0,0,0,0,1

### MODEL

In [ ]:
# Import pour la modelisation
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Models
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.metrics import classification_report
# depreciated
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import ConfusionMatrixDisplay

In [ ]:
df_target = pd_enceinte["COST"]

df_features = pd_enceinte.drop(["COST"], axis = 1 )

In [ ]:
# Separtion train test validation
x_train, x_test, y_train , y_test = train_test_split( df_features, df_target,  test_size=0.2, random_state=3 )

In [ ]:
# Normalisation des données
# standard scaler en excluant les columns à ne pas normaliser ! ex: gender
# Attention les echelles sont peut etre pas les memes entre le train et le test
# car les moyennes des deux sets sont differentes ! Standardiser par des moyennes differentes changerait les données !
# Donc on standardise par un scaler commun: ici celui du x_train
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
# Random forest
# Parametres issus de l'etape optimisation
#from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()

# CrossValidation
# La crossvalidation effectue les prédictions sur les autres kfolds

clf_cv_score = cross_val_score(clf, x_train, y_train, cv=5)

# Entrainement
clf.fit(x_train, y_train)

# Prediction
y_pred = clf.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

In [ ]:
import numpy as np
def MAPE(Y_actual,Y_Predicted):
    mape = np.mean(np.abs((Y_actual - Y_Predicted)/Y_actual))*100
    return mape
MAPE(y_test,y_pred)

robust: 7.26
minmax:  7.27